<div class="global nav">
  <img class="header" src="https://g.twimg.com/Twitter_logo_blue.png" alt="#"></img>
</div>
<hr>
<div class="left dashboard">
  <a class="dashboardprofile u-block"></a>
  <img class="dashboardpic" src= "http://pickaface.net/includes/themes/clean/img/slide2.png" alt= "#"/>
  <div class="dash-userinfo">
    <div class="dashusernamediv">
      <a class="dashusername">Tatan</a><br>
      <a class="twituser">@tanquef</a>
    </div>
    <div class="profilestats">
      <ul class="datastats arrange">
        <li>
          <span class="title">TWEETS</span><br>
          <span class="data"><strong>3400</strong></span>
        </li>
        <li>
          <span class="title">FOLLOWING</span><br>
          <span class="data"><strong>540</strong></span>
        </li>
        <li>
          <span class="title">FOLLOWERS</span><br>
          <span class="data"><strong>6780</strong></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main info">
  <div class="tweetbox">
    <div class="component">
      <img class="compimage" src="http://pickaface.net/includes/themes/clean/img/slide2.png" alt="#"/>
      <input type="text" class="form-control" placeholder="whats going on?">
      <i class="fa fa-camera-retro fa-lg"></i>
    </div>
  </div>
  <% @statuses.each do |s| %>
  <%= div_for s do %>
  <img class= "avatar" alt="#" src="http://pickaface.net/includes/themes/clean/img/slide2.png"></img>
  <strong class="username">Tatan</strong> @tanquef - <%= time_ago_in_words s.created_at %> ago

  <p><%= s.body %></p>
  <div class="icons"><i class="fa fa-reply"></i><i class="fa fa-retweet"></i><i class="fa fa-heart"></i><i class="fa fa-ellipsis-h"></i>


  </div>
  <% end %>
  <% end %>

  <br>

  <div class="pages">
    <%= link_to 'Previous Page', page: @page -1 %>
    <%= link_to 'Next Page', page: @page +1 %>
  </div>
</div>

<div class="right dashboard">
  <div class="flex module">
    <div class="flex-header">
      <h3>Who to follow?</h3>
      <small>.</small>
      <a class="dash-who" href="#" alt="#">refresh</a>
      <small>.</small>
      <a class="dash-who" href="#" alt="#">view all</a>
    </div>
    <div class="friendsdiv">
      <img class="friends" src="https://pbs.twimg.com/profile_images/649695174046707716/A24Us0lK_normal.jpg"></img>
      <span class="friends-data"><b>Joseph Ciancio</b></span>
      <span class="friends-data h">@jciancio7</span>
      <button class="one">Follow</button>
    </div>
    <div class="friendsdiv">
      <img class="friends" src="https://pbs.twimg.com/profile_images/654646897504743424/94hzYITP_normal.jpg"></img>
      <span class="friends-data"><b>Madelene Campos</b></span>
      <span class="friends-data h">@maddie</span>
      <button class="one">Follow</button>
    </div>
    <div class="friendsdiv">
      <img class="friends" src="https://pbs.twimg.com/profile_images/694666518508888066/n9YEn_74_normal.jpg"></img>
      <span class="friends-data"><b>Paul Ingelmo</b></span>
      <span class="friends-data h">@causipocket</span>
      <button class="one">Follow</button>
    </div>
  </div>
</div>
